*{
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 100vw;
	height: 100vh;
	background-color: white;
	overflow: hidden;
}

.logo{
	width: 234px;
	height: 234px;
	background-image: url("Images/mlogo.gif");
	background-repeat: no-repeat;
	margin-left: 94px;
	margin-top: 68px;
	display: inline-block;
	float:left;
}

.navigation{
	font-family: 'Sanchez', serif;
	width: 1570px;
	height: 22px;
	background-image: url("Images/navbar.gif");
	margin-top: 170px;
	margin-left: 22px;
	margin-bottom: 200px;
	display: inline-block;
}

a{
	text-decoration: none;
	color: black;
}

ul{
	list-style: none;
	overflow: hidden;
}

li{
	display: inline-block;
}

.nav li {
	width: 90px;
	text-align: center;
}


.homenav, .aboutnav, .portfolionav, .contactnav {
	overflow: hidden;
}

.nav .portfolionav {
	width: 80px;
}

.wd{
	font-family: 'Uni Sans Heavy CAPS';
	font-size: 100px;
	margin-left: 350px;
	margin-top: -170px;
}

.ms{
	font-family: 'Uni Sans Heavy Italic CAPS';
	font-size: 72px;
	margin-left: 365px;
	margin-top: -10px;
}

.bd{
	font-family: 'Sanchez', serif;
	font-size: 17px;
	width: 780px;
	height: 113px;
	margin-left: 365px;
}

.compatible{
	width: 601px;
	height: 437px;
	background-image: url("Images/compatible.gif");
	background-size: 80% 80%;
	background-repeat: no-repeat;
	margin-left: 1300px;
	overflow: hidden;
	margin-top: -320px;
}

.footer{
	height: 349px;
	width: 1920px;
	background-image: url("Images/footer.gif");
	margin-top: -40px;
}